{{> header}}
<div>
	<h1>Carrito de compras</h1>

	<section class="table-products">
		<table>
			<thead>
				<tr>
					<th>Código</th>
					<th>Categoría</th>
					<th>Título</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Total</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{{#each products}}
					<tr>
						<td>{{product.code}}</td>
						<td>{{product.category}}</td>
						<td>{{product.title}}</td>
						<td>{{product.description}}</td>
						<td>{{product.price}}</td>
						<td>
							<div class="d-flex gap-1">
								<button class="btn btn-secondary" onclick="changeQuantityFromCart(this, -1, {{product.price}}, '{{product._id}}', '{{../cart}}')">-</button>
								<input type="number" class="form-control p-1" id="quantity-{{product._id}}" value="{{quantity}}" min="1" max="{{product.stock}}" style="width:45px; text-align: center;" readonly />
								<button class="btn btn-secondary" onclick="changeQuantityFromCart(this, 1, {{product.price}}, '{{product._id}}', '{{../cart}}')">+</button>
							</div>
						</td>
						<td id="total-price-{{product._id}}">${{round (multiply quantity product.price) 2}}</td>
						<td>
							<button
								class="delete-btn"
								title="Eliminar del carrito"
								onclick="deleteProductFromCart(this)"
								data-cid="{{../cart}}"
								data-pid="{{product._id}}"
							>Eliminar</button></td>
					</tr>
					</tr>
				{{/each}}
				<tr>
					<td colspan="6" class="text-right"><strong>Total de la compra:</strong></td>
					<td colspan="2" id="cart-total"></td>
				</tr>
			</tbody>
		</table>
	</section>
	<div class="purchase-button">
		<button class="purchase-btn" data-cid="{{cart}}" onclick="confirmPurchase(this)">Confirmar Compra</button>
	</div>
</div>

{{! Sweet alert }}
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"
></script>
{{! JS cliente  }}
<script src="/static/js/index.js"></script>