{{> header}}
<div>
	<h1>Carrito de compras</h1>

	<section class="table-products">
		<table>
			<thead>
				<tr>
					<th>Código</th>
					<th>Categoría</th>
					<th>Título</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Total</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				{{#each products}}
					<tr>
						<td>{{product.code}}</td>
						<td>{{product.category}}</td>
						<td>{{product.title}}</td>
						<td>{{product.description}}</td>
						<td>{{product.price}}</td>
						<td>{{quantity}}</td>
						<td> {{round (multiply quantity product.price) 2}}</td>
						<td><button
								class="delete-btn"
								title="Eliminar del carrito"
								onclick="deleteProductFromCart(this)"
								data-cid="{{../cart}}"
								data-pid="{{product._id}}"
							>Eliminar</button></td>
					</tr>
					</tr>
				{{/each}}
				<tr>
					<td colspan="6" class="text-right"><strong>Total:</strong></td>
					<td colspan="2" class="">{{total}}</td>
				</tr>
			</tbody>
		</table>
	</section>
	<div class="purchase-button">
		<button class="purchase-btn" data-cid="{{cart}}" onclick="purchase(this)">Confirmar Compra</button>
	</div>
</div>

{{! Sweet alert }}
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"
></script>
{{! JS cliente  }}
<script src="/static/js/index.js"></script>