{{> header}}
<div>
	<h1>Listado de Productos</h1>
	<div class="container mt-4">
		<div class="row">
			{{#each products.docs}}
			<div class="col-md-4">
				{{> product product=this thumbnails=this.thumbnails user=../user cart=../cart}}
			</div>
			{{/each}}
		</div>
	</div>
				
	{{!-- <section class="table-products">
		<table>
			<thead>
				<tr>
					<th>Código</th>
					<th>Categoría</th>
					<th>Título</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Stock</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each products.docs}}
					<tr>
						<td>{{code}}</td>
						<td>{{category}}</td>
						<td>{{title}}</td>
						<td>{{description}}</td>
						<td>{{price}}</td>
						<td>{{stock}}</td>
						<td><button
								class="delete-btn"
								title="Agregar al carrito"
								onclick="addProductToCart(this)"
								data-cid="{{../cart}}"
								data-pid="{{_id}}"
								data-uid="{{../user._id}}"
							>Agregar</button></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</section> --}}

	<!-- Paginación -->
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			{{#if products.hasPrevPage}}
			<li class="page-item">
				<a class="page-link" href="{{products.prevLink}}">Previous</a>
			</li>
			{{else}}
			<li class="page-item disabled">
				<a class="page-link" href="#">Previous</a>
			</li>
			{{/if}}

			{{#each products.pageNumbers}}
			<li class="page-item {{#if this.isActive}}active{{/if}}">
				<a class="page-link" href="{{this.link}}">{{this.number}}</a>
			</li>
			{{/each}}

			{{#if products.hasNextPage}}
			<li class="page-item">
				<a class="page-link" href="{{products.nextLink}}">Next</a>
			</li>
			{{else}}
			<li class="page-item disabled">
				<a class="page-link" href="#">Next</a>
			</li>
			{{/if}}
		</ul>
		</nav>



	{{!-- <section class="pagination">
		{{#if products.hasPrevPage}}
			<a href="{{products.prevLink}}">Prev</a>
		{{/if}}
		{{#if products.hasNextPage}}
			<a href="{{products.nextLink}}">Next</a>
		{{/if}}
	</section> --}}
</div>
{{! Sweet alert }}
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"
></script>


<script src="/static/js/index.js"></script>