{{> header}}
<div class="profile-container">
	<h1>Perfil de usuario {{login_type}}</h1>

	<div class="profile-header">
		<div class="profile-picture">
			<img src="{{user.profilePicture}}" alt="Foto de perfil" class="profile-pic" id="profile-pic-display" />
			<div class="change-pic-overlay">
				<label for="profile-pic-input" class="change-pic-btn">Cambiar foto</label>
				<input type="file" id="profile-pic-input" name="profile" class="hidden" />
			</div>
		</div>
	</div>

	<div id="user-data" data-user-id="{{user._id}}"></div>

	<form id="profile-pic-form" class="hidden">
		<input type="file" name="profile" id="profile-pic-file-input" />
	</form>

	<div class="profile-details">
		<div class="input-group">
			<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
			<input type="text" class="form-control" value="{{user.firstName}} {{user.lastName}}" readonly />
		</div>
		<div class="input-group">
			<span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
			<input type="email" class="form-control" value="{{user.email}}" readonly />
		</div>
		<div class="input-group">
			<span class="input-group-text"><i class="fa fa-address-book" aria-hidden="true"></i></span>
			<input type="number" class="form-control" value="{{user.age}}" readonly />
		</div>
		<div class="input-group">
			<span class="input-group-text"><i class="fa-solid fa-user"></i></span>
			<input id="user-role" type="text" class="form-control" value="{{user.role}}" readonly />
		</div>
		<div class="mt-3"> 
			<button id="requestPremium" class="btn btn-success" {{#if premium}}disabled{{/if}}>Solicitar usuario Premium</button>
		</div>
	</div>
	{{!-- <div class="form-group">
		<label for="document-upload">Documentos:</label>
		<input type="file" id="document-upload" name="documents" multiple />
	</div> --}}

	<div class="row justify-content-center mt-4">
		<div class="col-md-8">
			<h4>Documentos</h4>
			<ul id="documentList" class="list-group">
				{{#each user.documents}}
				<li class="list-group-item d-flex justify-content-between align-items-center" data-id="{{this._id}}">
					<i class="fas fa-file-alt"></i>
					{{this.name}}
					<div>
						{{!-- <a href="{{this.reference}}" target="_blank" class="btn btn-outline-primary btn-sm">Ver</a> --}}
						{{!-- <button class="btn btn-outline-danger btn-sm delete-doc">Eliminar</button> --}}
					</div>
				</li>
				{{/each}}
			</ul>

			<form id="documentUploadForm" action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data" class="mt-3">
				<label for="documentUpload" class="form-label">Subir Documentos</label>
				<input type="file" id="documentUpload" name="documents" multiple class="form-control" />
				<button type="submit" class="btn btn-primary mt-3">Subir</button>
			</form>

		</div>
	</div>
</div>


{{! Sweet alert }}
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"
></script>

<script src="/static/js/profile.js"></script>